{% include 'header.html.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="center-block signBlock">
                <form class="loginForm" action="index.php" method="post">
                    <input type="text" class="form-control" name="login" placeholder="Login">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <button class="btn btn-success">Войти</button>
                    <span class="btn btn-info">Регистрация</span>
                </form>
            </div>
        </div>
    </div>
</div>



